<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>管理员注册</title>

    <!-- Custom fonts for this template-->
    <link href="/static/housemaster/scss/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/housemaster/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/static/housemaster/js/jquery-1.8.3.min.js"></script>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block" style="background: url('/static/user/images/奥特曼1.jpg');background-size: 100% 100%"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">创建你的管理员账户吧！</h1>
                        </div>
                        <form class="user" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="user_id"
                                           id="user_id" placeholder="请输入你的账号">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" name="password"
                                           id="password" placeholder="请输入密码">

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <input type="text" class="form-control form-control-user" name="user_name"
                                           id='user_name' placeholder="请输入你的姓名"/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="miyao"
                                           id='miyao' placeholder="请输入管理员秘钥"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" name="email" id="email"
                                       placeholder="请输入你的邮箱">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input id="send_email_code" type="button" value="发送邮箱验证码"
                                           class="btn btn-primary btn-user btn-dark" style="width:100%">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="emailcode"
                                           id='emailcode' placeholder="请输入你的验证码">
                                </div>
                            </div>


                            <input id="submit" type="button" value="开始注册" class="btn btn-primary btn-user btn-block">
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/housemaster/forget_password">忘记密码?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/housemaster/login">进行登陆!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $('#send_email_code').click(
        function () {
            user_id = $('#user_id').val();
            email = $('#email').val();
            // 构造一个数据字典
            send_data = {
                'user_id': user_id,
                'email': email,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            console.log(send_data);
            $.ajax(
                {
                    url: '/housemaster/register_ajax_data/?status=1',
                    type: "post",
                    data: send_data,
                    success: function (data) {
                        alert(data.content);
                    },
                    error: function (error) {
                        console.log(error)
                    }
                }
            )
        }
    );
    $('#submit').click(
        function () {
            user_id = $('#user_id').val();
            password = $('#password').val();
            email = $('#email').val();
            emailcode = $('#emailcode').val();
            user_name = $('#user_name').val();
            miyao = $('#miyao').val();

            // 构造一个数据字典
            send_data = {
                'user_id': user_id,
                'password': password,
                'email': email,
                'emailcode': emailcode,
                'user_name': user_name,
                'miyao': miyao,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            $.ajax(
                {
                    url: '/housemaster/register_ajax_data/?status=2',
                    type: "post",
                    data: send_data,
                    success: function (data) {
                        console.log(data);
                        if (data.code != 10000) {
                            alert(data.content)
                        } else {
                            alert(data.content + '\n快去登录吧');
                            window.location.href = '/housemaster/login/'
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                }
            )
        }
    )
</script>

<!-- Bootstrap core JavaScript-->
<script src="/static/housemaster/scss/vendor/jquery/jquery.min.js"></script>
<script src="/static/housemaster/scss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/housemaster/scss/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/housemaster/js/sb-admin-2.min.js"></script>

</body>

</html>
