{% extends 'housemaster/base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" align="center" style="font-family: 楷体,宋体"><span
                style="color: green"> {{ user.name }}</span>管理员，请修改你的登陆密码:</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="alert('本页是为了修改用户密码\n' +
         '注意事项:\n 1.需要输入旧密码\n 2.新密码与旧密码需要相同\n 3.对密码长度没有限制\n 4.建议密码由数字，字母,下划线组成')"><i
                class="fas fa-download fa-sm text-white-50"></i> 点我查看本页页面介绍
        </button>
    </div>

    <form class="user" method="post">
        {% csrf_token %}
         <div class="form-group">
            <p style="margin-left: 200px;display: inline">&nbsp;&nbsp;当&nbsp;&nbsp;前&nbsp;&nbsp;账&nbsp;&nbsp;号&nbsp;&nbsp;&nbsp;：</p><input type="text"
                                                                             class="form-control form-control-user"
                                                                             style="width: 50%;display: inline" disabled
                                                                             value="{{ user.user_id }}">
        </div>
        <div class="form-group">
            <p style="margin-left: 200px;display: inline">请你输入原密码：</p><input type="password"
                                                                             class="form-control form-control-user"
                                                                             name="old_password"
                                                                             style="width: 50%;display: inline"
                                                                             aria-describedby="emailHelp"
                                                                             placeholder="请输入原密码...">
        </div>
        <div class="form-group">
            <p style="margin-left: 200px;display: inline">请你输入新密码：</p><input type="password"
                                                                             class="form-control form-control-user"
                                                                             name="new_password1"
                                                                             style="width: 50%;display: inline"
                                                                             placeholder="请输入新密码...">
        </div>
        <div class="form-group">
            <p style="margin-left: 200px;display: inline">再次输入新密码：</p><input type="password"
                                                                             class="form-control form-control-user"
                                                                             name="new_password2"
                                                                             style="width: 50%;display: inline"
                                                                             placeholder="请再次输入新密码...">
        </div>
        <hr>

        <p align="center" style="color: red">
            {{ content }}
        </p>
        <hr>
        <input type="submit" value=" 确认修改密码" class="btn btn-info btn-user " style="margin-left: 35%;width: 300px">

    </form>
{% endblock %}
