{% extends 'user/base2.html' %}
{% block title %}
    关于我们
{% endblock %}
{% block content %}
    <div class="grid_3">
        <div class="container">
            <div class="breadcrumb1">
                <ul>
                    <a href="/user/index2/"><i class="fa fa-home home_1"></i></a>
                    <span class="divider">&nbsp;|&nbsp;</span>
                    <li class="current-page">About</li>
                </ul>
            </div>
            <div class="about">
                <div class="col-md-6 about_left">
                    <img src="/static/user/images/班级风采大赛1.jpg" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-6 about_right">
                    <h1>About us</h1>
                    <br>
                    <p>版本号：1.01.</p>
                    <p>开发软件：Pycharm</p>
                    <p>开发语言：python</p>
                    <p>开发时间：2020.05.01</p>
                    <p>开发原因：为了解决宿舍管理手工记录的问题等</p>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}