{% extends 'user/base2.html' %}

{% block title %}
    宿舍维修历史
{% endblock %}
{% block content %}
    <div class="grid_3" style="background: url('/static/user/images/b2.jpg')">
        <div class="container">
            <div class="breadcrumb1">
                <ul>
                    <a href="/user/index2/"><i class="fa fa-home home_1"></i></a>
                    <span class="divider">&nbsp;|&nbsp;</span>
                    <li class="current-page" style="color: red;font-family: 华文行楷;font-size: 20px"> Dormitory Fix
                        History
                    </li>
                </ul>
            </div>
            <div class="col-md-9 profile_left2">
                <h4 style="font-family: 华文行楷;font-size: 20px">宿舍维修历史 </h4>
                {% if fix_dor_form %}
                    {% for i in fix_dor_form %}
                        <hr>
                        <div class="profile_top"><a href="#">
                            <div class="col-sm-3 profile_left-top">
                                <img src="/static/user/images/a5.jpg" class="img-responsive" alt=""/>
                            </div>
                            <div class="col-sm-3">
                                <ul class="login_details1">
                                    <li>注意事项：</li>
                                    <li><p>1.该申请为当时申请时候状态</p></li>
                                    <li><p>2.已处理的申请无法进行操作</p></li>
                                    <li><p>3.请如实填写宿舍报修状况</p></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <table class="table_working_hours">

                                    <tbody>
                                    <tr class="opened_1">
                                        <td class="day_label1" style="font-weight: 700;color: black">报修单号 :</td>
                                        <td class="day_value">{{ i.id }}</td>

                                    <tr class="opened_1">
                                        <td class="day_label1" style="font-weight: 700;color: black">报修账号 :</td>
                                        <td class="day_value">{{ i.stu_id }}</td>

                                    </tr>
                                    <tr class="opened">
                                        <td class="day_label1" style="font-weight: 700;color: black">报修姓名：</td>
                                        <td class="day_value">{{ i.name }}</td>
                                    </tr>
                                    <tr class="opened">
                                        <td class="day_label1" style="font-weight: 700;color: black">联系电话：</td>
                                        <td class="day_value">{{ i.phone }}</td>
                                    </tr>
                                    <tr class="opened">
                                        <td class="day_label1" style="font-weight: 700;color: black">报修宿舍：</td>
                                        <td class="day_value">{{ i.dor }}</td>
                                    </tr>
                                    <tr class="opened">
                                        <td class="day_label1" style="font-weight: 700;color: black">简要原因:</td>
                                        <td class="day_value">
                                            {{ i.simple_remarks }}
                                        </td>
                                    </tr>
                                    <tr class="closed">
                                        <td class="day_label1" style="font-weight: 700;color: black">申请时间 :</td>
                                        <td class="day_value closed"><span
                                                style="color: red">{{ i.send_time }}</span>
                                        </td>
                                    </tr>
                                    <tr class="closed">
                                        <td class="day_label1" style="font-weight: 700;color: black">处理状态 :</td>
                                        {% if  i.status == 0 %}
                                            <td class="day_value closed"><span style="color: red">未处理</span></td>
                                        {% else %}
                                            <td class="day_value closed"><span style="color: green">已处理</span></td>
                                        {% endif %}

                                    </tr>
                                    {% if  i.status == 1 %}
                                        <tr class="closed">
                                            <td class="day_label1" style="font-weight: 700;color: black">处理详情 :</td>
                                            <td class="day_value closed">
                                                <span style="color: red">{{ i.admin }}管理员在{{ i.process_time }}处理完成！</span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <div class="buttons">
                                    {% if  i.status == 0 %}
                                        <a href="/user/fix_dor_form_update/{{ i.id }}/" type="button" class="btn_1"
                                           style="margin-left: 50px;">修改申请单</a>
                                        <a href="/user/fix_dor_history/{{ i.id }}/" type="button" class="btn_1"
                                           style="margin-left: 50px;">撤销申请单</a>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </a></div>

                    {% endfor %}
                {% else %}

                    <p style="margin-top:50px;font-size: 140px;font-family: 华文行楷;margin-left: 10%;color: red">
                        暂无报修 </p>
                    <p style="margin-top:50px;font-size: 140px;font-family: 华文行楷;margin-left: 32%;color: red">
                        申请历史 </p>
                {% endif %}


            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}