{% extends 'user/base1.html' %}
{% block title %}
    找回密码
{% endblock %}
{% block content %}
    <div class="grid_3">
        <div class="container">
            <div class="breadcrumb1">
                <ul>
                    <a href="index.html"><i class="fa fa-home home_1"></i></a>
                    <span class="divider">&nbsp;|&nbsp;</span>
                    <li class="current-page">Forgot Password?</li>
                </ul>
            </div>
            <div class="services">
                <div class="col-sm-6 login_left">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="edit-name">账号 <span class="form-required">*</span></label>
                            <input type="text" name="stu_id" id="stu_id" size="60" maxlength="60"
                                   placeholder="请输入账号" class="form-text required">
                        </div>

                        <div class="form-group">
                            <label style="display: block" for="edit-name">邮箱 <span
                                    class="form-required">*</span></label>
                            <input type="text" name="email" id="email" value="" size="60" maxlength="60"
                                   style="width: 60%;display: inline-block"
                                   placeholder="请输入将绑定的邮箱..." class="form-text required">
                            <input id="send_email_code" type="button" name="send_email_code" value="发送邮箱验证码"
                                   class="btn btn-primary" style="margin-left: 20px">
                        </div>

                        <div class="form-group">
                            <label for="edit-name">邮箱验证码 <span class="form-required">*</span></label>
                            <input type="text" name="emailcode" id='emailcode' value="" size="60" maxlength="60"
                                   placeholder="请输入验证码..." class="form-text required">
                        </div>

                        <div class="form-actions">
                            <input id="submit" type="button" value="输入完请点击找回密码" class="btn_1 submit">
                        </div>
                    </form>
                </div>


                <div class="col-sm-6">
                   <ul class="sharing">
                        <li><a onclick="alert('暂不支持')" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i>
                            Share on Facebook</a></li>
                        <li><a onclick="alert('暂不支持')" class="twitter" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i>
                            Tweet</a></li>
                        <li><a onclick="alert('暂不支持')" class="google" title="Google"><i class="fa fa-boxed fa-fw fa-google-plus"></i>
                            Share on Google+</a></li>
                        <li><a onclick="alert('暂不支持')" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i>
                            Share on LinkedIn</a></li>
                        <li><a onclick="alert('暂不支持')" class="mail" title="Email"><i class="fa fa-boxed fa-fw fa-envelope-o"></i>
                            E-mail</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script>
        $('#send_email_code').click(
            function () {
                stu_id = $('#stu_id').val();
                email = $('#email').val();
                // 构造一个数据字典
                send_data = {
                    'stu_id': stu_id,
                    'email': email,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                console.log(send_data);
                $.ajax(
                    {
                        url: '/user/forgot_password_ajax/?status=1',
                        type: "post",
                        data: send_data,
                        success: function (data) {
                            alert(data.content);
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    }
                )
            }
        );
        $('#submit').click(
            function () {
                stu_id = $('#stu_id').val();
                email = $('#email').val();
                emailcode = $('#emailcode').val();

                // 构造一个数据字典
                send_data = {
                    'stu_id': stu_id,
                    'email': email,
                    'emailcode': emailcode,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                $.ajax(
                    {
                        url: '/user/forgot_password_ajax/?status=2',
                        type: "post",
                        data: send_data,
                        success: function (data) {
                            console.log(data);
                            if (data.code != 10000) {
                                alert(data.content)
                            } else {
                                alert(data.content);

                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    }
                )
            }
        )

    </script>
{% endblock %}